body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #121212;
    color: #e0e0e0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    background-color: #333;
    width: 100%;
    text-align: center;
    padding: 10px 0;
}

header h1 {
    margin: 0;
    color: #e0e0e0;
}

.container {
    display: flex;
    width: 100%;
    max-width: 1200px;
    flex-direction: column;
    align-items: center;
}

#favouritesContent {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}

.country-item {
    background-color: #1e1e1e;
    border: 1px solid #333;
    border-radius: 5px;
    padding: 20px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%; /* Gestisce la visualizzazione su tre colonne */
    box-sizing: border-box;
    text-align: center;
}

.country-item img {
    width: 100px;
    height: auto;
    margin-bottom: 10px;
}

.country-item h3 {
    margin: 0 0 10px 0;
    font-size: 18px;
}

button {
    background-color: #2196f3;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 10px 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s;
}

button:hover {
    background-color: #1769aa;
    transform: scale(1.05);
}

.home-link {
    margin-top: 20px;
    color: #bb86fc;
    text-decoration: none;
    font-size: 18px;
}

.home-link:hover {
    text-decoration: underline;
}

h2 {
    margin-top: 20px;
    width: 100%;
    text-align: center;
}

a {
    display: block;
    margin: 10px 0;
    padding: 12px;
    background-color: #bb86fc;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s ease, transform 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

a:hover {
    background-color: #9c4dcc;
    transform: translateY(-2px);
}