/* Stilizzazione di Base */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #121212;
    color: #ffffff;
    margin: 0;
    padding: 20px;
    line-height: 1.6;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Pulsante dei Piatti Salvati */
#piattiSalvatiBtn {
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: #ff6347;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 50px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s;
    display: flex;
    align-items: center;
    justify-content: center;
}

#piattiSalvatiBtn:hover {
    background-color: #cc5137;
    transform: scale(1.05);
}

#piattiSalvatiBtn span {
    margin-left: 5px;
}

/* Contenitore della Ricerca */
#searchContainer {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}

#searchButton {
    background-color: #44e120;
}

#searchButton:hover {
    background-color: #3dbb1a;
}

/* Ricerca */
input[type="text"] {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 300px;
    color: #121212;
}

button {
    background-color: #2196f3;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s;
}

button:hover {
    background-color: #1769aa;
    transform: scale(1.05);
}

/* Pulsante Random */
#randomBtn {
    background-color: #ff9800;
}

#randomBtn:hover {
    background-color: #e68900;
}

/* Lista delle Ricette */
#recipeList {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    width: 100%;
    max-width: 1200px;
}

.recipe-item {
    background-color: #1e1e1e;
    border: 1px solid #333;
    border-radius: 20px;
    padding: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.recipe-item img {
    max-width: 100%;
    border-radius: 22px;
}

/* Stile per il Label Personalizzato */
.custom-label {
    font-size: 18px;
    color: #ff6347;
    margin-bottom: 10px;
    display: inline-block;
    font-weight: bold;
    cursor: pointer;
}
