/* Stilizzazione di Base */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #121212;
    color: #ffffff;
    margin: 0;
    padding: 20px;
    line-height: 1.6;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Contenitore del Piatto Casuale */
#randomPiatto {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #1e1e1e;
    border: 1px solid #333;
    border-radius: 20px;
    padding: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 90%;
    text-align: center;
    margin-top: 20px;
}

#randomPiatto img {
    max-width: 100%;
    border-radius: 22px;
}

/* Contenitore dei Pulsanti */
.button-container {
    display: flex;
    gap: 10px;
    justify-content: center;
    margin-top: 10px;
}

/* Pulsante per il Video YouTube */
.youtube-button {
    background-color: #ff0000;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s;
}

.youtube-button:hover {
    background-color: #cc0000;
    transform: scale(1.05);
}

/* Pulsante Salva Piatto */
.save-button {
    background-color: #2196f3;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s;
}

.save-button:hover {
    background-color: #1769aa;
    transform: scale(1.05);
}

/* Collegamenti Ipertestuali */
a {
    color: #2196f3;
    text-decoration: none;
    font-size: 1.2em;
    margin: 20px 0;
    display: inline-block;
}

a:hover {
    color: #1769aa;
    opacity: 0.9;
}